//colors
$primary-color: #1a1ad5;
$secondary-color: #e2e260;
$light-color: #e8e8e8;

/* Spacing */
$space-unit: 1em;
$space-xxs: calc(0.25 * $space-unit);
$space-xs: calc(0.5 * $space-unit);
$space-sm: calc(0.75 * $space-unit);
$space-md: calc(1.25 * $space-unit);
$space-lg: calc(2 * $space-unit);
$space-xl: calc(3.25 * $space-unit);
$space-xxl: calc(5.25 * $space-unit);

//transitions
$transition: all 0.2s linear;
