@import "@styles/common.scss";

.logoLink {
  display: none;
  padding: 0;

  @include screen-size("md") {
    display: block;
    height: 2rem;

    svg {
      height: 100%;

      path {
        fill: $light-color;
      }
    }
  }
}
